{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block documentready %}
{% endblock %}


{% block custom_body_classes %}{% endblock %}


{% block app_content %}
    <h1> Парвила игры! </h1>
    <h2>Название проекта</h2>
    <p>Проект для людей интересующихся соревновательным программиррованием.</p>
    <p>В течение несколькоких часов вы откроете для себя новые языки и алгоритмы.</p>
    <p>Правила игры:</p>
    <p>1. Код на выбранном языке выполняется на сайте.</p>
    <p>2. Игра начинаетс после того, как все игроки будут готовы (кол-во минут перед запуском можно выбрать)</p>
    <p>3. Скорость итерации кода для всех игроков одинаковая.</p>
    <p>4. Закрашивать и переходить по занятым клетка можно.</p>
    <p>5. Игра будет длиться до тех пор, пока не кончится время на таймере.</p>
    <p>6. Побеждает тот, у кого закрашено больше всего клеток.</p>
    <p>Поддерживаются следующие варианты записи универсальных методов:</p>
    <p>move_down()<br> move_up() <br> move_left() <br> move_right() <br> get_pixel()</p>
    <p>В настоящий момент система конфигурирована на поддержку следующих языков: (В дальнейшем будет поддержка других языков)</p>
    <p>Python 3</p>
    <div class="form-container container">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}