{% extends "base.html" %}

{% block app_content %}
    <h2>Название проекта</h2>
    <p>Проект для людей интересующихся соревновательным программиррованием.</p>
    <h1>Правила игры:</h1>
    <ol>
        <li>Код на выбраном языке выполняется на сайте.</li>
        <li>Игра начинается после того, как все игроки будут готовы (кол-во минут перед запуском можно выбрать)</li>
        <li>Скорость выполнения кода для всех игроков одинаковая.</li>
        <li>Закрашивать и переходить по занятым клеткам можно.</li>
        <li>Игра будет длиться до тех пор, пока не кончится время на таймере.</li>
        <li>Побеждает тот, у кого закрашено больше всего клеток.</li>
    </ol>
    <p>В коде должна содержаться функция tick, принимающая апгументы x и y, в которых передается текущее положение бота
        на поле. Функция должна вернуть одно из значений, соответствующее ходу бота:</p>
    <ul>
        <li>Move.Up</li>
        <li>Move.Down</li>
        <li>Move.Left</li>
        <li>Move.Right</li>
    </ul>
    <p>Также в функции доступны переменные my_color, в которой записан цвет бота, game.width, game.height в которой
        записаны ширина и высота поля соответственно и функция get_pixel(x, y), которая возвращает цвет клетки ('0',
        если клетка не закрашена)</p>
    <br>
    <p>В настоящий момент система конфигурирована на поддержку следующих языков: (В дальнейшем будет поддержка других
        языков)</p>
    <ul>
        <li>Python 3</li>
    </ul>

    {% if show_form %}
        {{ wtf.quick_form(form) }}
    {% else %}
        <p>{{ placeholder_text }}</p>
    {% endif %}
{% endblock %}